@import '../../../styles/colors';

.Single {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  border: inset 20px $red;
  background: rgba(42, 183, 202, 0.1);
}

.singleViewImage {
  max-width: 200px;;
}
